<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

     <ion-slide *ngFor="let slide of slideData">  
      <div class="divImage">
        <div class="{{slide.color}}"><ion-icon class="slide-icon" name="{{slide.icon}}"></ion-icon></div>
      </div>
      <div class="divText">
        <h2 class="{{slide.class}}" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description"></p>
      </div>
    </ion-slide>
   
  </ion-slides>
</ion-content>
